html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    place-items: center;
    height: 100%;
}

#mainCanvas {
  border: 2px solid #000;
}

#prizeContainer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-direction: row;
}
.prizeItem {
    background-color: unset;
    padding: 3rem 1rem;
    border: 3px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 20%;
    word-wrap: break-word;
    text-align: center;
}
    .selected {
        border-color: cornflowerblue;
        background: deepskyblue;
    }

    .failed {
        opacity: 40%;
        border-color: red;
        background: indianred;
    }

    .success {
        background: lightgreen;
        border-color: green;
    }