html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    place-content: center;
    height: 100%;
}

#mainCanvas {
  border: 2px solid #000;
}

.failed {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}