html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". header ."
        ". game stats"
        ". footer ."
    ;
    place-items: center;
    height: 100%;
}

h1 {
    grid-area: header;
}

#mainCanvas {
    grid-area: game;
    border: 2px solid #000;
}

#chromeStats {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;

    .statValue {
        text-align: center;
    }
}

#chromeFooter {
    grid-area: footer;
}

#prizeItemContainer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-direction: row;
}
.prizeItem {
    background-color: unset;
    padding: 3rem 1rem;
    border: 3px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 20%;
    word-wrap: break-word;
    text-align: center;
}
    .selected {
        border-color: cornflowerblue;
        background: deepskyblue;
    }

    .failed {
        opacity: 40%;
        border-color: red;
        background: indianred;
    }

    .success {
        background: lightgreen;
        border-color: green;
    }